html{
  background-color: #EDEDED;
  height: 120%;
}


.konteineris {
 
  font-size: 20px;
  background-color: #EDEDED;
 
}



.konteineris img{
 width: 400px;
 padding: 5px 5px;

}

.konteinerisH img:hover{
  filter: grayscale(60%);
}


.konteinerisH img:hover{
  background-color: rgb(202, 76, 76);
}

.grid-item {
  
  width: 400px;
 
}


a{
  color: rgb(0, 0, 0);
  font-weight: bold;
  

}

a:hover{
color: black;
font-weight: 550;
text-decoration: none;

}


.contentContainer {
  border: solid 1px black;
  border-radius: 20px;
  padding: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contentContainer h3{
  font-size: 16px;
}

.pagination ul li {
  list-style-type: none;
  display: inline;
  font-size: 17px;
}